body {
  font-family: "Arial";
}
header {
  background-color: #333;
  position: fixed;
  width: 100%;
  padding-bottom: 10px;
  top:0;
  left: 0;
}
header h1 a {
  color: white;
  text-decoration: none;
  float: left;
  margin-left: 20px;
}
header h1 a:hover {
  color: #969494;
}
header nav {
  float: right;
}
header nav ul {
  list-style: none;
  margin: 10px;
  overflow: hidden;
}
header nav ul li {
  display: inline-block;
  margin-right: 10px;
  float: left;
  padding-right: 10px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #969494;
}
li.icon {
  display: none;
}
section.first-section {
	margin-top:100px;
}
section.center-section {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (max-width:500px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    font-size: 20px;
  }

  ul.topnav.responsive {
    position: relative;
    margin-bottom: 0px;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  a#link-favorites {
    margin-top: 20px;
  }
}

/* Button CSS for the dialogs */
.yes-no {
  display: inline-block;
}
.yes-button {
  margin: 0 auto;
  margin-right: 10px;
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
.no-button {
  margin: 0 auto;
  background: #C9302C;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  float: left;
}